[submodule "NewPipeExtractor"]
	path = NewPipeExtractor
	url = https://github.com/TeamNewPipe/NewPipeExtractor.git
[submodule "app/src/main/cpp/llama.cpp"]
	path = app/src/main/cpp/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
